# SSS1. Python Basics

# Table of Contents
* [A. Python Lab](#A.-Python-Lab)
	* [DATA TYPES](#DATA-TYPES)
        * [Strings](#Strings)
        * [Booleans](#Booleans)
    * [VARIABLES](#VARIABLES)
    * [IF STATEMENTS](#IF-STATEMENTS)
        * [Logical Operators](#Logical-Operators)
    * [FUNCTIONS](#FUNCTIONS)
* [B. Exercise](#B.-Exercise)
    * [Exercise 1](#Exercise-1)
    * [Exercise 2](#Exercise-2)

Welcome to your first **S**tructured **S**tudy **S**ession! SSS's give you an opportunity to gain the Python skills you need for your Cornerstone courses. As for this session, you will learn basics in Python, including various data types, variables, functions, selections, and iterations. Mastery of these contents is critical for your understanding of next week's Formal Analyses in-class activities. 

Every session will be divided into two sections: **Lab** (A) and **Exercise** (B). The purpose of the **Lab** section is to familiarize you with new Python skills that are needed for courses and assignments. The practice questions within the lab are your chance to experiment around to understand the material better. By the end of the lab you should have enough knowledge to easily complete the problems in the **Exercise** section.

Save your work as you go. At the end of the session, you will email this Jupyter Notebook (an .ipynb file) to the peer tutors who are assigned to your SSS group. It is not graded, simply checked for the level of completion.

**Have fun!**

# A. Python Lab

## DATA TYPES

Python has some basic data types (you can also call them object types):
* Numbers 
* Strings
* Lists
* Dictionaries
* Tuples
* Files
* Booleans
* Sets
* ...

In this lab, we will look into **strings** and **booleans**.

### Strings

In Python, a string is a sequence of characters inside quotes. The following cell prints a string:

In [0]:
print("Hello. This is the first SSS...")

Hello. This is the first SSS...

 `"Hello. This is the first SSS..."` is a string, while the entire previous cell `print("Hello. This is the first SSS...")` is called a **print statement**. A print statement prints out whatever is inside the parentheses. Try printing out a nice message that pays your peer tutor a compliment, something like `print("YOUR COMPLIMENT GOES HERE")`. As always, if you're stuck in this exercise or don't know what to compliment your peer tutor, ask him/her for help!

In [0]:
print("HELLO THERE")

HELLO THERE

You can also print multiple strings in a print statement:

In [0]:
print("Hello.","This is the","first SSS...")

Hello. This is the first SSS...

It does not matter what's inside the quotes. If you see a number wrapped inside quotes, it's still a string. For example, the following cell prints 3 strings:

In [0]:
print("7")
print("12%")
print("75.5/2")

7
12%
75.5/2

To check whether `"7"` is actually a string, we can use `type("7")`. If it says `str` then `"7"` is a string indeed.

In [0]:
type("7")

str

Would you expect `type(7)` to also return `str`? Why or why not? Check your answer by coding in the cell below. You can *run* the code cell by pressing SHIFT+ENTER.

In [0]:
# your code here

You can replace the double quotes with single quotes or tripple quotes in a string.

In [0]:
type('Still a string')

str

In [0]:
type("""Still a string""")

str

Explain why the following line of code would throw an error. Feel free to create cells to test any hypotheses you may have. Brainstorm ways to fix the error and implement them. Ask your peer tutor for help if you're stuck.

`type("He cried: "FA is not for the weak!", and then worked till the end of the first SSS")`

** Your answer here: ** (Note: To edit this type of cell in a Jupyter notebook, double click. When you're done, press SHIFT+ENTER to display the result.)

In [0]:
# Your code to fix the error here

Type the following lines in a cell to see what they do:

`print('Form' + 'al Analyses')`

`print('Form'*5)`

In [0]:
# your code here

Explain what's going on here. (Double click to edit this cell and add a short explanation)

### Booleans

A boolean receives either of the two values: `True` and `False`.

In [0]:
type(True)

bool

In [0]:
type(False)

bool

A **boolean expression** is an expression that evaluates to a boolean value. The following cell prints boolean values by passing **boolean expressions** inside the parentheses.

In [4]:
print(1==2) # to check whether 1 equals 2 
print(1 != 2) # to check whether 1 is not equal to 2
print(3<6) # to check whether 3 is less than 6 
print(10>20) # to check whether 10 is larger than 20
print(5<=7) # to check whether 5 is less than or equal 7
print(1.5>=1.5)
print(100<50)

False
True
True
False
True
True
False

This week's activity in FA class about logical equivalency introduced the `==` operator (and possibly others too). We will build on this in next week's classes, so let's gain familiarity with these operators. Below you are given some lines of code. Guess what they print and explain your guesses. You are required to give explanations as detailed as "Line 1 will print True because it is true that 5 < 7", or something like that. AFTER writing your explanations, proceed to code those lines to see if your guesses are correct. For the incorrect guesses, explain why the code printed otherwise.



```
print(1 == 1)
print((1+1)==2)
print(15 != 4)
print((100+1) != (1+100))
print('monkey' == 'Monkey')
print(1 != '1')
print(0 == False)
```

**Your answer here** (double click to type your answer here)

In [0]:
# Your code here

**Your answer here (if you made incorrect guesses)**

Which of the following will give `bool`? Guess, test (by coding), give your answer, and explain:

`type(true)`

`type(4==4)`

`type('false')`

`type(1=3)`

**Your answer here:**

What will `print(type(True)==bool)` print? Explain.

**Your answer here: **

## VARIABLES

A variable is created when we assign a value to it. For example, the following cell assigns the number `100` to a variable named `a_number`:

In [0]:
a_number = 100

Notice that the variable name (`a_number`) precedes the equals sign, which in turn precedes the value we want to assign to the variable (`100`). 

We can now refer to the value 100 by `a_number`:

In [0]:
print(a_number)

100

We can also assign a string value to a variable:

In [1]:
a_string = 'Hello'
print(a_string)
print('How to greet: ', a_string)

Hello
How to greet:  Hello

Notice in the last statement that all you need to combine variables and strings in the print statement is a comma to sepearate them. It works with numbers too:

In [2]:
b_number = 20
print('The answer is',20)

The answer is 20

You can reassign a variable to new values:

In [0]:
a_string = 'Hello'
a_string = 'Hi'
print(a_string)

Hi

Which of the following lines of code will throw an error? What can you infer about rules regarding naming variables? 
* `ASTRING = 15`

* `7Up = 'A soft drink'`

* `_aNumber = True`

* `0 = 'zero'`

* `True = 'a boolean value'`

Guess and check what the following cell will print when uncommented. To uncomment a line of code, simply choose the line and press <kbd>CTRL</kbd>+<kbd>/</kbd>, or you can do it manually by deleting the #'s.

In [0]:
# a = 10
# b = 10
# print(a==10)

## IF STATEMENTS

In programming, sometimes we wish to execute some lines of code only if a condition is satisfied. **If statements** can help us with that. An **if statement** has the syntax as follows:
![If-else code example](images/ifelse_code_example.png)

Recall that boolean expressions are expressions that evaluate to boolean values (`True` or `False`). If the boolean expression evaluates to `True`, `STATEMENT 1` will be executed. If the boolean expression evaluates to `False`, `STATEMENT 2` will be executed. The diagram below depicts this flow of execution:
![If-else diagram](images/ifelse_diagram.png)

Several things to notice about the syntax:
* There are colons at the end of the lines that contains `if` and `else`
* The lines `STATEMENT 1` and `STATEMENT 2` have to be indented.

The cell below is the code to check whether a number `a` is larger than 5 and prints out a message accordingly.

In [0]:
a = 6
if a > 5:
    print("Larger than 5")
else:
    print("Not larger than 5")

Larger than 5

For each of the 3 cells below, guess what will happen when you uncomment and run it, then actually run it to check your answer.

In [0]:
# if (1 != 1):
#     print('1 is not 1')
# else:
#     print('1 = 1')

In [0]:
# if 1:
#     print('1 means True')
# else:
#     print('1 means False')

In [0]:
# if 0:
#     print('0 means True')
# else:
#     print('0 means False')

### Logical Operators

There are 3 logical operators: `and`, `or`, and `not`.

Operator | Description
--- | --- 
`Expression1 and Expression2` | True only if both Expressions1 and Expression2 are True
`Expression1 or Expression2` | True only if at least one of the two expressions is True
`not Expression` | Negate the boolean value of the expression.

In [0]:
type('Python') == str and 5>3

True

In [0]:
False or False

False

In [0]:
not True

False

Logical operators give more flexibility to a boolean expression in an *if statement*. For example, if we want to execute a line of code only if two conditions are jointly satisfied, the `and` operator will be helpful.

In [0]:
a = 84
if a % 2 == 0 and a >= 0:
    print("a is a non-negative, even integer")
else:
    print("a is either negative or odd")

a is a non-negative, even integer

In [0]:
string1 = "It is raining"
string2 = "It is storming"
#####################################################
#  TO DO: Write code to check if either string1 or  #
#  string2 says "It is raining". If yes, print      #
#  "stay inside". If no, print "you can go out"     #
#####################################################

## FUNCTIONS

A rough way to think about functions is that it is to group statements together for later use. What's pretty about functions is that they can be used more than once in a program. A function serves a specific role in a program. A statement has the following syntax:
![Function syntax](images/function_syntax.png)

The following cell creates a function that prints a student's name

In [0]:
def your_first_function(a_student_name):
    print(a_student_name)

In the above function:
* The function name is `your_first_function`
* It receives one argument (`a_student_name`)
* It has one statement, which is the print statement `print(a_student_name`)
* There is a colon at the end of the first line
* The statement inside the function is indented

What do we mean by reusing a function? The following cells print a couple of students' names by reusing (or **calling**) the function `your_first_function`:

In [7]:
your_first_function('John')

John

In [8]:
your_first_function('Katie')

Katie

In [9]:
your_first_function('Tom')

Tom

Write a function named your_second_function that receives two arguments student_name and faculty_name, and prints the names of the student and the faculty on two lines.

In [0]:
# Your code here

Not only can a function print, it can also **return** a value. The following function receives two integers as its arguments and returns the sum of squares of the two integers.

In [0]:
def compute_sum_of_squares(int1, int2):
    return int1*int1 + int2*int2

In [13]:
compute_sum_of_squares(6,3) # 6^2 + 3^2

45

In [14]:
compute_sum_of_squares(4,6) # 4^2 + 6^2

52

In [15]:
print('The number of students in this school is', compute_sum_of_squares(10,6))

The number of students in this school is 136

Write a function that receives two integers as its arguments. Then do an operation of your choice on those two integers. Your function should return the result of that operation. Then call the function a couple of times. Don't forget to check if your function works as intended.

In [0]:
# Your code here

You can call a function within another function. The function below calls the ```compute_sum_of_squares``` function inside.

In [0]:
def compute_mean_squares(int1, int2):
    return compute_sum_of_squares(int1, int2)/2.0    # return (int1*int1 + int2*int2)/2

In [18]:
compute_mean_squares(3,4) # (3^2 + 4^2)/2

12.5

In [19]:
compute_mean_squares(5,5) # (5^2 + 5^2)/2

25.0

What does the following function compute? What will ```compute_root_mean_square(12,16)``` return?

In [0]:
def compute_root_mean_square(int1, int2):
    return compute_mean_squares(int1, int2)**0.5     # x**0.5 means the square root of x in Python

**Your answer here**

In [ ]:
#try it out!

# B. Exercise

## Exercise 1

What does the following function do? In what situations may it be helpful?

In [0]:
def equal_check(x,y):
    if x-y<0:
        return (y-x)<.0001
    else:
        return (x-y)<.0001
      
print(equal_check(3,3))

True

**Your answer here:**

## Exercise 2.

There are 3 parts to this exercise.
1. Create a function named `boolean_message` that takes a boolean value as its input and returns "Yes, it's true!" if the value is True and "No, it's not true!" if the value is False. After creating your function, call your function twice, each time with a different input (`True` or `False`).

In [0]:
# Your code here

2. Create a function named `boolean_message2`  that takes two boolean values, `bool1` and `bool2`, as inputs and returns "Yes, it's true!" if (`bool1 and bool2`) is True and "No, it's not true!" if (`bool1 and bool2`) is False. Because the messages returned by this function are the same as those returned by the function `boolean_message` you created in part 1, you are expected to use `boolean_message` in creating `boolean_message2`.

In [0]:
# Your code here

3. Call `bollean_message2` by passing it with different `bool1` and `bool2` values (for example, `bool1` is True and `bool2` is True, or `bool1` is False and `bool2` is True, etc.).

In [0]:
# Your code here