# SSS2. Python Basics and #Deduction

# Table of Contents
* [A. Python Lab](#A.-Python-Lab)
	* [DATA TYPES](#DATA-TYPES)
        * [Strings](#Strings)
        * [Booleans](#Booleans)
    * [IF STATEMENTS (THE GENERAL FORM)](#IF-STATEMENTS-[THE-GENERAL-FORM])
    * [FOR LOOPS](#FOR-LOOPS)
* [B. Exercise](#B.-Exercise)
* [C. Optional Exercises](#C.-Optional-Exercises)

This session will expand on the skills you learned in the last session. Along the way you will have some practice with **#deduction** and some early practice with **#algorithms**.

# A. Python Lab

## DATA TYPES

### Strings

Last week you explained the error in the following code and provided ways to fix it.

In [ ]:
type("He cried: "FA is not for the weak!", and then worked till the end of the first SSS")

As you may already know, the issue with the above code is that Python interprets a quote character after the first quote as a closing quote character:
![stirng_error](images/string_error.png)

One way to fix that is to replace the double quotes for "FA is not for the weak" with single quotes. Run the cell to see the output.

In [ ]:
type("He cried: 'FA is not for the weak!', and then worked till the end of the first SSS")

Another way to fix it is to use the **escape character** (`\`). Escaping is telling Python to treat the charcater that follows as an ordinary character and part of the current string. Run the next cells to see the output.

In [ ]:
print("He cried: \"FA is not for the weak!\", and then worked till the end of the first SSS")

In [ ]:
# Will give error
print('It's a scam')

In [ ]:
print('It\'s a scam')

The newline character `\n` is used to start on a new line. Let's go Shakespeare-esque. Run the cell to see what happens.

In [ ]:
print('"Shall I compare thee to a summer’s day? \nThou art more lovely and more temperate."')

Using `\` and only one print statement, print the following box:
![stirng_box](images/string_box.png)

In [ ]:
# Your code here

### Booleans

First, explain why P $\rightarrow$ Q is logically equivalent to $\neg$P $\vee$ Q. 

(*Hint*: Truthtable)

**Your answer here:** (You don't need to write a truthtable here. Just say what results in the truthtable would make the statement true. You are encouraged to actually draft a truthtable in a draft paper though)
Note: To edit this type of cell in a Jupyter notebook, double click. When you're done, press <kbd>SHIFT</kbd>+<kbd>ENTER</kbd> to display the result.

Knowing that P $\rightarrow$ Q is an equivalent of $\neg$P $\vee$ Q, we can write a Python function `implication` that gives the truth value of an implication P $\rightarrow$ Q, given the truth values of P and Q as the function's arguments.

In [ ]:
def implication(P,Q):
    return not P or Q

What would the following 3 cells return? Explain

In [ ]:
## Cell 1:
# implication(True, False)

**Your explanation here**

In [ ]:
# # Cell 2:
# implication(True, True)

**Your explanation here**

In [ ]:
## Cell 3:
# implication(implication(True, False), False)

**Your explanation here**

The `implication` function above evaluates P $\rightarrow$ Q. Write a function named `implication2` that evaluates (P and Q)$\rightarrow$Q. Your function should call the `implication` function.

In [ ]:
# Your code here

Create the function `implication3` that evaluates (P and Q)$\rightarrow$ (P $\rightarrow$ Q). `implication3` should call on both `implication` and `implication2`.

In [ ]:
# Your code here

Create a function that completes a task of your choice and can make use of `implication3`, just like `implication2` is built on `implication` and `implication3` is built on both `implication` and `implication2`.

**Desribe what you intend your function to do here:**

In [ ]:
# Your code here

## Python Operators Interlude

One data type that we have been using without an explicit introduction is the number data type. Two most common numerical types in Python are intergers (number with no fractional parts) and floating-point numbers (those with fractional parts). Run these cells to see their type.

In [ ]:
type(7)

In [ ]:
type(7.0)

In [ ]:
type(1.4142)

There are several operators that perform operations on numeric values in Python (Ask your peer tutor if you don't understand any operations):


Operator | Description
--- | --- 
`+` | Addition. Eg: `1.5+3` (=4.5)
`-` | Subtraction. Eg: `5-3` (=2)
`*` | Multiplication. Eg: `1.0*2` (=2.0)
`/` | Division, results in floating-point values. Eg: `8/2` (=4.0)
`**` | Exponentiation. Eg: `5**2` (=5^2=25)
`//` | Floor Division. Eg: `5//2` (=2)
`%` | Modulus. Eg: `17%3` (=2)

What value does each of the following expressions evaluate to? Pay attention to the operators precedence (i.e., which operations Python choose to evaluate first, second, etc.)

In [ ]:
# 1+3-6*2

In [ ]:
# 5-2**2+1/2

In [ ]:
# (5-2)**(2+1)//2

In [ ]:
# (5-2)//2**(2+1)

Based on your observations, list the operators from highest precedence to lowest precedence. You may want to experiment with more expressions of your own choice to complete this question.

**Your answer here**

## IF STATEMENTS [THE GENERAL FORM]

Recall that the syntax for an if statement we learned last week is:
    ![If-else code example](images/ifelse_code_example.png)
    
which corresponds to this flow of execution diagram:
![Flow of if-else statement diagram ](images/ifelse_diagram.png)

Our task now is to write Python code that has the following flow of execution:
![elif diagram ](images/elif_diagram.png)

It turns out that Python `if` statement has a general form that includes one or more `elif`(else if) checks, and we could you this extra feature for our task:
![elif code](images/elif_code.png)

It's also worth mentioning that both `elif` and `else` are optional in Python if statement.

The following code checks what day in week it is and generate a corresponding message. Think about what the code will output, then run the cell to see the message.

In [ ]:
day = 'Sunday'
if day=='Monday' or day=='Tuesday' or day=='Wednesday' or day=='Thursday':
    print('Getting bored')
elif day=='Friday':
    print('Partying')
elif day=='Saturday':
    print('Picnicking')
else: 
    print('Preparing to get bored')

What will `print(implication(True, False)` print, with `implication` defined below?

In [ ]:
def implication(P, Q):
    if P == True and Q == True:
        return True
    elif P == True and Q == False:
        return False
    else:
        return True

**Your answer here**

## FOR LOOPS

We also sometimes wish to execute some lines of code over and over again, or repeat some pattern in our program. The ```for``` statement is one tool for such iterations. For example, to iterate over all the students' names and print those names:

In [ ]:
for student_name in ['John', 'Katie','Tom']:
    print(student_name)

The natural language equivalent of the above lines of code is that for each name in the list (`['John','Katie','Tom']`), print that name. It is essentially the equivalent of the following lines of code:

In [ ]:
print('John')
print('Katie')
print('Tom')

Imagine you have a list of a thousand students' names and you need to print those names. Without the help of an iteration tool like the ```for``` statement, you will have to manually print all of those names using a thousand lines of print statements. With the for statement, all will collapse into only 2 lines of code. Neat-o!

Uncomment the following cells and guess what each of them do.

In [ ]:
# for i in [True, False]:
#     print(not i)

In [ ]:
# for item in ['a','b','c','d','e','f','g','h']:
#     print('Hello')

In [ ]:
# for A_team in ['Argentina', 'Austria']:
#     for B_team in ['Belgium', 'Brazil']:
#         print('There will be a match between', A_team, 'and', B_team)

What if you want to print the first 50 (non-negative) whole numbers? (0,1,2,...,49)? You can certain do this:

In [ ]:
for natural_number in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 
                       10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 
                       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 
                       30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 
                       40, 41, 42, 43, 44, 45, 46, 47, 48, 49]:
    print(natural_number)

Still pretty ugly. We had to write up all the first 50 natural numbers ourselves! Fortunately, Python has a function called ```range``` which will generate a list of numbers for iterations. The following code also prints the first 100 natural numbers:

In [ ]:
for natural_number in range(50):
    print(natural_number)

Note that ```range(50)``` contains 50 elements, but goes from 0 to 49 by default. We'll discuss more on the ```range``` function when we cover lists in an upcoming session. Rewrite the following `for` statement using `range`.

In [ ]:
for item in ['a','b','c','d','e']:
    print('Hello')

In [ ]:
# Your code here

### The Accumulator Pattern

Consider the task of calculating the sum of a list of n integers ([int1, int2, int3, int4, ..., intn]). Below is the algorithm (a set of steps to follow to complete a task-- like a recipe; you have been introduced to the #algorithm HC this week!) for doing so:
1. Assign 0 to a variable `sum` (sum = 0)
2. Add the first integer to `sum` (int1 + sum = int1 + 0 = int1) and update the sum to that result (`sum` $\leftarrow$ int1)
3. Recall that the value of `sum` now is int1 instead of 0--the initialized value. Add the second integer to `sum` (sum + int2 = int1 + int2) and update `sum` to that result (sum $\leftarrow$ int1 + int2)
4. Add the third integer to `sum` (int1 + int2 + int3) and update `sum` to that result (sum $\leftarrow$ int1 + int2 + int3)
5. Add the fourth integer to `sum` (int1 + int2 + int3 + int4) and update `sum` to that result (sum $\leftarrow$ int1 + int2 + int3 + int4)

    ...

6. You get the idea! Continue this process until you add the last integer to `sum ` and update the sum the resulted value. Now `sum` = int1 + int2 + int3 + int4 + ... + intn

You can think of the variable `sum` in the above process (or algorithm) as a basket. As you iterate over the integers list, you keep putting the integers you meet into the basket until you reach the last integers, by which time your basket has been filled with all the integers. What is salient in the process is you initialize `sum` to 0 (i.e., create an empty basket), go over all integers, and add the integers to sum and remember the result for later additions (i.e., you put the integers into the basket and don't throw them away). This is the accumulator pattern. The following Python code implements this algorithm:

In [ ]:
the_sum = 0 #line 1
for number in [1,3,4]: #line 2
    the_sum = the_sum + number  #line 3

Answer the below questions:

**Question 1** Which line of code does the initialization (i.e., creating an empty basket in the above example)?

**Your answer here**

**Question 2** Which line of code updates the current sum to an accumulated result?

**Your answer here**

**Question 3** Fill in the missing values in the below table (Double click on this cell to edit, then <kbd>SHIFT</kbd>+<kbd>ENTER</kbd> to display the results):

Iteration no. | `number` | `the_sum`
--- | --- | ---
1 | 1 | 1
2 | ? | ?
3 | ? | 8

In [ ]:
print(the_sum)

**Question 4** Use this technique to calculate the sum of squares of the first 10 positive integers (1, 2, 3, 4,...,10) (*Hint*: `range` may be helpful)

In [ ]:
# Your code here

# B. Exercise

## Exercise 1. Decisions with `if-elif-else`

You are deciding whether to take an absence from the FA class this morning. Suppose at the moment the only two feelings you can have is `"tired"` or `"not tired"`. You have a special set of rules to follow in this decision-making process:
* You will definitely go to class if you have no permitted absences left.
* You will go to class if you have at least one permitted absences left and you are not feeling tired.
* If you are feeling tired, and there is at least one permitted absences left, you won't go to class.

Use the information above to complete the following question:

In [ ]:
absences = 1
feeling = 'not tired' 

############################################################################################
#  TODO: Write code that reflects the above rules (i.e., print a decision based on the     #
#  values of the variables absences and feeling. The variable absences indicates the       #
#  number of permitted absences. The variable feeling indicate the feeling you are having. #
#  Your code should use the if-elif-else structure.                                        #
############################################################################################

## Exercise 2. Function Matching

Each of the five functions A, B, C, D, E (defined below) does one of the following tasks:

1. Finding the average of numbers in a given list

1. Finding the smallest number in a given list

2. Finding the second smallest number in a given list

3. Finding the second odd number in a given list

4. Finding the smallest number that is greater than 2 in a given list.

In [ ]:
def A(L):
    output = float("inf") #infinity
    for num in L:
        if num < output:
            output = num
    return output

In [ ]:
def B(L):
    count = 0
    for num in L:
        if num%2: # Recall what 0 and 1 mean in terms of booleans
            count += 1
        if count == 2:
            return num
    return None # Could not find the number satisfying the requirement

In [ ]:
def C(L):
    tentative_output = 0
    count = 0
    for num in L:
        tentative_output += num
        count += 1
    return tentative_output/count

In [ ]:
def D(L):
    output = float("inf") #infinity
    for num in L:
        if num <= 2:
            pass
        elif num < output:
            output = num 
    if output == float("inf"):
        return None # Could not find the number satisfying the requirement
    else:
        return output

In [ ]:
def E(L):
    output = float("inf") # infinity
    smallest =  float("inf")
    for num in L:
        if num >= output:
            pass # do nothing
        elif num >= smallest:
            output = num
        else:            
            output = smallest
            smallest = num
    return output

Which function does what?

**Your answer here**

## Exercise 3. Function Designing

Create a function that finds the largest or the smallest number (idicated by the time of calling) in a given list.

In [ ]:
# Your code here

## Exercise 4. Function Engineering (for Worse)

Rewrite function `E` above using no `elif`

In [ ]:
# Your code here

# C. Optional Exercises

*If you have time left, try these to!*

## 1. Variables: Augmented Assignment

Suppose you already have a variable with value 0.5, like this:

In [ ]:
my_level_of_confidence = 5/10

Now you want to increment the variable a bit, say, by 0.2, you can code like this:

In [ ]:
my_level_of_confidence = my_level_of_confidence + 0.2

The above line could be shortened:

In [ ]:
my_level_of_confidence += 0.2

That is called the an "augmented assignment"-- a shorthand for combining an assignment and an expression. It turns out you can use this pattern for some other operators:

In [ ]:
my_level_of_confidence -= .1
my_level_of_confidence *= 2 # Divine!
my_level_of_confidence /= 2 # :(
my_level_of_confidence //= 2 
my_level_of_confidence **= 2 # <3<3<3

Now, create a variable by assigning the integer 0 to it, and increase the variable by 2 a hundred times (recall which tool in Python can help you with this repetitive, tedious job.) This is to practice using augmented assignments, so make sure you use them.

In [ ]:
# Your code here

## 2. Pyramid building

Create a function `build_even_pyramid` which receives a positive integer `n` as an argument and prints a pyramid of that level if `n` is even, and prints `"n is not even"` otherwise. For example,
`build_even_pyramid(2)` should print:
![Pyramid2](images/pyramid2.png)
`build_even_pyramid(6)` should print:
![Pyramid6](images/pyramid6.png)
`build_even_pyramid(50)` should print:
![Pyramid50](images/pyramid50.png)
`build_even_pyramid(3)` should print:

`n is not even`

In [ ]:
# Your code here

## 3. Leap years
A *leap year* occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400. Write a function that inputs a year and outputs whether or not it is a leap year.

In [ ]:
# Your code here

## 4. Palindromes (Project Euler \#4)

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99. Find the largest palindrome made from the product of two 3-digit numbers