# SSS4. All about lists!

# Table of Contents
* [A. Python Lab](#A.-Python-Lab)
    * [LISTS](#LISTS)
        * [Indexing](#Indexing)
        * [Concatenation](#Concatenation)
        * [Repetition](#Repetition)
        * [Slicing](#Slicing)
        * [The Append Method](#The-Append-Method)
* [B. Exercise](#B.-Exercise)

# A. Python Lab

## LISTS

### What are lists?

Lists are pretty intuitive: they are a data type that consists of an ordered sequence of elements, separated by commas. An example: ["cat", 2, TRUE] is a list with three elements. The first element is a string, the second an integer, and the third a boolean.

The first step when dealing with lists is learning how to create them! Doing so is very simple. All you have to do is write the elements you want in the list within square brackets, and separated by commas.

Your first task: Use the for loop to iterate over every boolean values of list `A` below and for each such value, print its negation. *Hint*: The negation of `True` is `not True` in Python.

In [0]:
A = [True, False, False, True]
for value in A:
    # Your code here. This should be just one line of code.
    
    # End of your code

### Indexing

There are very convenient ways to access elements in a list. First, it is important to know that, like with **strings**, every element within a list has an index, **starting from 0** for the first element (from left to right) and going on up to the last element.

Suppose we had the list: ["banana", "cat", 3.14, 1]. The image below shows the elements within our list, and their corresponding indexes:

![index table](images/index_table.png)

Now, lets say our list is called `lst`. From this list, we want to access the second element in the list, "cat" (remember, the "second element" has index 1, since python starts counting form 0), and set variable **A** to that 

To access the second element, we would use the syntax shown below:

In [0]:
lst = ["banana", "cat", 3.14, 1]
A = lst[1]
print(A)

cat

Now try it yourself! Go ahead and set variable **B** below to the third element in the list (3.14). Dont forget to run the cell and print B, to make sure you succeeded!

In [0]:
lst = ["banana", "cat", 3.14, 1]
B = 
print(B)

Another neat trick you can use to select an element within a list is to use negative indexes. The last element within a list (from left to right) can be accessed using the index "-1" in addition to the positive index it corresponds to. The second to last element can be accessed using the index "-2", and so on. The table below shows how the elements in our list can be accessed using their negative indexes as well:


![index_table_2](images/index_table_2.png)


Now, to practice accessing elements, your task is to access the "cat" element within lst using both its positive and negative indices. Set A to the element accessed using the positive index, and B to the element accessed using the negative index. Then, use an if/else statement to print TRUE if A and B are the same, and FALSE otherwise.

In [0]:
lst = ["banana", "cat", 3.14, 1]
A = 
B = 

if #complete the if statement here!

Can you guess why the following code throws an error? This is one common error when coding using the `list` data type in Python. Then, proceed to fix the error so that the code prints out the very nice motto. Hint: * What does the error message say? What line seems to have problems?*

In [0]:
A = ["everything", "is", "intentional", "here"]
sentence = ''
for i in range(10):
    sentence += A[i] + ' '
sentence.strip()
sentence = sentence.capitalize()
print(sentence)

Finally, using indexes, we can also mutate the list as we wish! See the example below, follow the code carefully:

In [0]:
lst = ["banana", "cat", 3.14, 1]
lst[1] = "dog"
print(lst)

See what happened? We used the lst[1] command to access a particular element within the list, and using the "=" operator we replaced the original element with a new element. This process is called "mutating" a list.

### Concatenation

The concept of concatenation is simple yet useful! It consists of using the "+" operator to join two lists together. For instance, lets say list_1 = [1, 2, 3] and list_2 = [4, 5, 6]. Use the code box below to find out what happens if we print list_1 + list_2!

In [0]:
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]
print() #type in (list_1 + list_2) within the print statement and see what happens!

 Note that, when using concatenation, the order in which you concatenate matters. For instance, [1, 2, 3] + [4, 5, 6] is **NOT** equal to [4, 5, 6] + [1, 2, 3]. Run the cell below to see for yourself!

In [ ]:
big_list_1 = [1, 2, 3] + [4, 5, 6]
big_list_2 = [4, 5, 6] + [1, 2, 3]
print(big_list_1)
print(big_list_2)
print(big_list_1==big_list_2)

Concatenation is very useful when we want to keep adding new elements to a list. Suppose we had an empty list, [], and we wanted to add the string "cat" to it 10 times. We could do so using the "accumulator pattern" and concatenation. See the code below!

In [0]:
lst = []

for i in range (10):
    lst = lst + ["cat"] 
#note that the string cat is within a list: concatenation only works between two lists, 
# concatenating just "cat" would return an error

print(lst)

Concatenation also applies to strings. The following code concatenates two strings using the same technique.

In [0]:
print('Miner'+'va')

Minerva

Your task now is to negate the statement A, given below, by appending "It is not that" before it.

In [0]:
A = "Everything is intentional here"
B = 
print(B) # this should print "It is not that Everything is intentional here"

### Repetition

Another useful command using lists is the "repetition" command. This means using the * operator to repeat the contents within a list! See the example below:

In [ ]:
lst = [1, 2, 3]
print(lst*3)

Basically, the "repetition" command concatenates the list you have to itself n times, n being the number next to the * operator. Try it out yourself: print the list below, repeated 6 times!

In [0]:
lst = ["boots", "and", "cats", "and"]

### Slicing

Now, let us say that you have a list [1, 2, 3, 4, 5, 6]. However, you want to have a list with only the first three elements. There is a special way to make that selection!

Remember when we accessed a single element within a list? We will use a similar command to select a subsection, a slice, of a list. This is completely the same as slicing strings. See below how the operator works:

In [0]:
lst = [1, 2, 3, 4, 5, 6]
#remember: we want the first three elements!
lst_slice = lst[0:3] # extract lst[0], lst[1], lst[2], but not lst[3].
print(lst)
print(lst_slice)

List slices are also very useful when we want to "clone" a list. What does "clonning" a list mean, you may ask? Well, making a copy of a list, of course!

Say we have list A = [1, 2, 3, 4, 5, 6]. What if we don't want this list: we want a list whose last element is 7 instead? We could certainly "mutate" the original list, but what if we want to keep the original as is, and have a second version of that list that is a little different? For this, we create a clone of the original, and mutate the clone rather than the original.

To clone a list, we "take a slice" of the whole list! To clone A, and call our clone B, we would use the command below:

In [0]:
A = [1, 2, 3, 4, 5, 6]
B = A[:]
print("List A is:", A)
print("List B is:", B)

Now, we can mutate list B without mutating list A:

In [0]:
A = [1, 2, 3, 4, 5, 6]
B = A[:]
B[-1] = 7
print("List A is:", A)
print("List B is:", B)

Can you guess what would have happened if, instead of using the B = A[:] slice command, we had used a B = A command? See below for the results!

In [ ]:
A = [1, 2, 3, 4, 5, 6]
B = A
B[-1] = 7
print("List A is:", A)
print("List B is:", B)

As you can see, if you use B = A, the lists are linked! If you change one, you will change the other!

### The Append Method

Methods are commands or processes that you may apply to particular data types. Lists have some very useful methods. An example is the ".append()" method. Remember concatenation? Remember that you could only concatenate two lists, and not a list and another data type? This method allows you to add a new element to your list! See how it works below:

In [0]:
lst = [1, 2, 3, 4]
lst.append(5)
print(lst)

There are many other list methods that might be useful for you when solving problems! Below, we have a table with the most important ones. You can experiment with them later on if you have some time left after finishing the session.

![list_methods](images/list_methods.png)

# B. Exercise

## Exercise 1. Count from Scratch

In Python, `count` is a built-in function to count the number of occurences of an element in a list. The cell below will print the number of times the number 5 appears in list `A`:

In [0]:
A = [5,4,3,5,6,3,5]
print(A.count(5))

3

But we can definitely build a function on our own that could do such jobs! Write a function that inputs a list and a value, `my_count(lst,val)`, and counts the number of occurences of the value (`val`) in the list (`lst`). Make sure to compare what your function returns with that of the built-in function.

In [0]:
# Your code here

## Exercise 2. Truth Table

The truth table for evaluating `(P  and  Q)  or  P` is given below:

Row no. | P | Q | P and Q | (P and Q) or P 
--- | --- | --- | --- | ---
1 | T | T | T | T 
2 | T | F | F | T
3 | F | T | F | F
4 | F | F | F | F

Each row in the table above can be represented by a Python list. For example, the list `[True, False, False, True]` can be used to represent the second row. 
Our task now is to fill in the 2 missing values of such lists if the first two values are known. For example, if A = `[True, False]` is intended to represent part of the second row (just the truth values for P and Q), it has two missing values at the end, `False` and `True`. Write a function that takes a two-element list as arguments and return a complete list that represent a row in the table.

In [0]:
# Your code here

## Exercise 3. Mode from Scratch

From Wikipedia: "The mode of a set of data values is the value that appears most often". For example, the mode of [3,1,4,4,1,1,1,1,2] is 1 since 1 is the most common value (appearing 5 times). Write a function that finds **a** mode of a given list of numbers. You may find the function you created in the counting exercise above helpful.

In [0]:
# Your code here

## Exercise 4. Modus Tollens Evaluator

Recall that if an argument is valid by modus ponens, it takes the form:

1. $P\rightarrow Q$ (premise)
2. $P$ (premise)
3. $Q$ (conclusion)

And if an argument is valid by modus tollens, it takes the form:

1. $P\rightarrow Q$ (premise)
2. $\neg Q$ (premise)
3. $\neg P$ (conclusion)

Recall that in FA class session 3.1, we created a function that evaluates whether or not an argument is valid by modus ponens. One such function is provided below:

In [0]:
def modus_ponens_evaluator(p1_1, p1_2, p2, c):
    if p1_1==p2 and p1_2==c:
        return("Valid by modus ponens")
    else:
        return("Not valid by modus ponens")

p1_1 = "one attends the school"
p1_2 = "one will become a leader"
p2 = "one attends the school"
c = "one will not become a leader"

print(modus_ponens_evaluator(p1_1, p1_2, p2, c))

Not valid by modus ponens

Create a function (`modus_tollens_evaluator`) that evaluates whether or not an argument is valid by modus tollens. The test at the end of the following cell should print `True`.

In [0]:
def modus_tollens_evaluator(p1_1, p1_2, p2, c):
    # fill in here

    
    
    
    
    
    # end of your code
p1_1 = "one attends the school"
p1_2 = "one will become a leader"
p2 = "it is not the case that one will become a leader"
c = "it is not the case that one attends the school"
print(modus_tollens_evaluator(p1_1, p1_2, p2, c))

## [Optional] Exercise 5. Longest Homogeneous Sublist

Given a list, find a longest sublist whose elements are the same. For example, given the list `[1,2,3,2,2,4,5,5,5,5,2,2]` your function should return [5,5,5,5]. Note that this is different than the mode!

In [0]:
# Your code here

## [Optional] Exercise 6. List Overlap

(Adapted from [Practice Python](https://www.practicepython.org/exercise/2014/03/05/05-list-overlap.html))

Given two lists containing distinct elements (no duplicates within each list), return a list containing elements that are common between the lists.

In [0]:
# Your code here

## [Optional] Exercise 7. Maximum Subarray
Given a list of numbers, find a subarray that has the largest sum of its elements. For example, given the list [-1,2,4,-3,5,-2] your function should return [2,4,-3,5]

In [0]:
# Your code here